.component {
    @include component();
    background: $component-bg;
    padding: 1em;
    min-height: 50vh;
    ul {
        @include reset-list();
    }
    li {
        margin-bottom: .5em;
    }
    a {
        color: $highlight-color;
    }
    .avatar {
        border-radius: 100%;
        height: 50px;
        width: 50px;
    }
    header
    {
        display: flex;
        justify-content: space-between;      
    }
}
form.logout {
    text-align: center;
}

form.delete-post {
    display: inline;
    button {
        margin-left: 1em;
    }
}

input, textarea {
    font-size: 1.2em;
}

textarea {
    display: block;
    min-height: 6em;
    width: 100%;
}

input {
    width: 80%;
}
