
// Body
$body-bg: #F0F0F0;


// Navbar
$navbar-default-bg: #fff;

// Components
$component-bg: #fff;
$component-color: #818181;

// main colors
$text-color: #636b6f;
$logo-color: #000;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($text-color, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// breakpoints
$min-width: 320px;
$desktop: min-width 700px;

