
// Body
$body-bg: #F0F0F0;


// Navbar
$navbar-default-bg: #fff;

// Components
$component-bg: #fff;
$component-color: #818181;

// main colors
$text-color: #636b6f;
$logo-color: #000;
$highlight-color: #fa7936;
$strip-color: #fff;

// breakpoints
$min-width: 320px;
$break-desktop: 800px;
$desktop: min-width $break-desktop;
$not-desktop: max-width $break-desktop;

// push-button size
$push-button-size: 30px;
